In [3]:
import pandas as pd


df1 = pd.read_csv('fd1.csv') 
df2 = pd.read_csv('fdfd.csv')  


merged_df = pd.concat([df1, df2], ignore_index=True)


merged_df.to_csv('merged_file.csv', index=False)

print("Merged dataset saved as 'merged_file.csv'.")

Merged dataset saved as 'merged_file.csv'.

In [4]:
merged_df.head()

                                               Tweet Sarcasm
0  Fantastic service yet again from EE. 1st you u...     yes
1  Not sure if that was or. I will take it! face_...     yes
2         Barely 9 am and already shaking with rage.     yes
3  I guess that proves it then. Black folks have ...     yes
4                         Does this tweet need a tag     yes

In [5]:
merged_df.tail()

                                                  Tweet Sarcasm
2976  Sometimes truth is glaring you in the face  bl...      no
2977    I just love not hanging out with my boyfriend .      no
2978  There is this 1 quince picture I have that I'm...      no
2979  I feel so ill at the moment that I cant speak ...      no
2980         I'm So Erked Nobody Better Not Speak To Me      no

In [7]:
df3 = pd.read_csv('merged_file.csv')

In [8]:
df3.shape

(2981, 2)