In [8]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("C:\\Users\\HP\\OneDrive\\Desktop\\sarcasm_tweets.csv")

In [11]:
df.head()

                                            Tweet Sarcasm (yes/no)
0                     I genuinely love musicians.               no
1             I find vegetarians to be wonderful.               no
2  Because artists really make everything better.              yes
3                Can't wait for more of the game.              yes
4  Oh great, another artists. Just what I needed.              yes

In [12]:
df.tail()

                                                 Tweet Sarcasm (yes/no)
4995  Because musicians really make everything better.              yes
4996                 Can't wait for more of musicians.               no
4997                I am always excited for this book.               no
4998               I find the concert to be wonderful.               no
4999                     I genuinely love the concert.               no

In [13]:
df.shape

(5000, 2)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tweet             5000 non-null   object
 1   Sarcasm (yes/no)  5000 non-null   object
dtypes: object(2)
memory usage: 78.3+ KB

In [15]:
df.isnull().sum()

Tweet               0
Sarcasm (yes/no)    0
dtype: int64

In [18]:
#Garbage value
for i in df.select_dtypes(include = "object").columns:
    print(df[i].value_counts())
    print("***"*10)

Tweet
Can't wait for more of artists.                   49
Can't wait for more of musicians.                 48
Can't wait for more of writers.                   43
Can't wait for more of doctors.                   43
Can't wait for more of the conference.            42
                                                  ..
writers have always been great.                   11
Because doctors really make everything better.    11
the conference are genuinely amazing.             10
the meal have always been great.                   9
Had a great time with writers.                     6
Name: count, Length: 240, dtype: int64
******************************
Sarcasm (yes/no)
yes    2521
no     2479
Name: count, dtype: int64
******************************