In [27]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv("C:\\Users\\HP\\OneDrive\\Desktop\\sarcasm_3.txt", delimiter='\t')

In [29]:
df.head()

  Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true
0  Not sure if that was or #realtalk . I'll take ...
1  Barely 9 am and already shaking with rage.  #g...
2  @deray I guess that proves it then. Black folk...
3  @the_FF_engineer Does this tweet need a tag? ,...
4  @officialUKMail both. Won't be using you again...

In [30]:
df.tail()

     Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true
1115  #Humor #Mystery #Cozy #Kindle http://t.co/st6j...
1116  Like Tx, Fla, SC and LA  @governorPerry Was th...
1117  Hey, @Outlook, my mailbox won't be so full if ...
1118                   http://t.co/4K3aGqfZgS , false
1119  You can't master what you don't understand. #E...

In [31]:
df.shape

(1120, 1)

In [32]:
df.dtypes

Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true    object
dtype: object

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 1 columns):
 #   Column                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                --------------  -----
 0   Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true  1120 non-null   object
dtypes: object(1)
memory usage: 8.9+ KB

In [34]:
df.isnull().sum()

Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true    0
dtype: int64

In [35]:
#Garbage value
for i in df.select_dtypes(include = "object").columns:
    print(df[i].value_counts())
    print("***"*10)

Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true
 , true                                                                                                                                 15
#Irony , false                                                                                                                           2
Not sure if that was or #realtalk . I'll take it! ðŸ˜‚ https://t.co/3p9YP2jVk6 , true                                                       1
Yup. Moses story is totally legit... #sacrilegesunday http://t.co/8ThSicVSM8 , true                                                      1
Dude lighten up                                                                                                                          1
                                                                                                                                        ..
I just wanna thank whoever posted that pic of Oberyn vs The Mountain.  , true                                                            1
How is that possible?  Obama and @HillaryClinton said that guns are the problem.  #tcot #p2 #pjnet  https://t.co/9tAy2QL8uu , true       1
@SensesFail @GrantTrimboli @therave But he was a fat kid and no girls ever paid attention to him. He was owed.  #sarcastic , true        1
My favorite thing is when Luis opens my snaps but doesn't snap me back... ðŸ˜¡  , true                                                      1
You can't master what you don't understand. #Education , false                                                                           1
Name: count, Length: 1105, dtype: int64
******************************

In [36]:
#To find duplicates
df.duplicated().sum()

15

In [37]:
df.describe().T

,count,unique,top,freq
"Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true",1120,1105,", true",15

In [38]:
df.drop_duplicates()

     Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true
0     Not sure if that was or #realtalk . I'll take ...
1     Barely 9 am and already shaking with rage.  #g...
2     @deray I guess that proves it then. Black folk...
3     @the_FF_engineer Does this tweet need a tag? ,...
4     @officialUKMail both. Won't be using you again...
...                                                 ...
1115  #Humor #Mystery #Cozy #Kindle http://t.co/st6j...
1116  Like Tx, Fla, SC and LA  @governorPerry Was th...
1117  Hey, @Outlook, my mailbox won't be so full if ...
1118                   http://t.co/4K3aGqfZgS , false
1119  You can't master what you don't understand. #E...

[1105 rows x 1 columns]

In [39]:
df.duplicated().sum()

15

In [40]:
#Handle missing value
df.replace("-",np.nan,inplace = True)
df.replace("?",np.nan,inplace = True)
df.replace("..",np.nan,inplace = True)

In [41]:
df.head()

  Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true
0  Not sure if that was or #realtalk . I'll take ...
1  Barely 9 am and already shaking with rage.  #g...
2  @deray I guess that proves it then. Black folk...
3  @the_FF_engineer Does this tweet need a tag? ,...
4  @officialUKMail both. Won't be using you again...

In [42]:
df.isnull()

      Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true
0                                                 False
1                                                 False
2                                                 False
3                                                 False
4                                                 False
...                                                 ...
1115                                              False
1116                                              False
1117                                              False
1118                                              False
1119                                              False

[1120 rows x 1 columns]

In [43]:
df.isnull().sum()

Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true    0
dtype: int64

In [44]:
df.head()

  Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true
0  Not sure if that was or #realtalk . I'll take ...
1  Barely 9 am and already shaking with rage.  #g...
2  @deray I guess that proves it then. Black folk...
3  @the_FF_engineer Does this tweet need a tag? ,...
4  @officialUKMail both. Won't be using you again...

In [45]:
import pandas as pd

with open('C:\\Users\\HP\\OneDrive\\Desktop\\sarcasm_3.txt', 'r', encoding='utf-8') as file:
    lines = [next(file) for _ in range(10)]
    for line in lines:
        print(line)

Fantastic service yet again from EE. 1st you upgrade me to the wrong number, and now you cut me off entirely!! #perfecttiming , true







Not sure if that was or #realtalk . I'll take it! ðŸ˜‚ https://t.co/3p9YP2jVk6 , true

In [46]:
import re

# Function to remove emojis
def remove_emojis(text):
    emoji_pattern = re.compile(
        "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F700-\U0001F77F"  # alchemical symbols
        u"\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
        u"\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
        u"\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
        u"\U0001FA00-\U0001FA6F"  # Chess Symbols
        u"\U0001FA70-\U0001FAFF"  # Symbols and Pictographs Extended-A
        u"\U00002702-\U000027B0"  # Dingbats
        u"\U000024C2-\U0001F251" 
        "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

with open('C:\\Users\\HP\\OneDrive\\Desktop\\sarcasm_3.txt', 'r', encoding='utf-8') as file:
    lines = file.readlines()

data = []

for line in lines:
    parts = line.strip().split(', ')  
    if len(parts) == 2: 
        text = parts[0]
        label = parts[1]
        cleaned_text = remove_emojis(text)
        cleaned_text = remove_urls(cleaned_text)
        data.append([cleaned_text, label])
        
df = pd.DataFrame(data, columns=['text', 'label'])
print(df.head())
df.to_csv('c_dataset.csv', index=False, sep=',')

                                                text label
0  Not sure if that was or #realtalk . I'll take ...  true
1  Barely 9 am and already shaking with rage.  #g...  true
2  @deray I guess that proves it then. Black folk...  true
3      @the_FF_engineer Does this tweet need a tag?   true
4  @officialUKMail both. Won't be using you again...  true

In [47]:
df.head()

                                                text label
0  Not sure if that was or #realtalk . I'll take ...  true
1  Barely 9 am and already shaking with rage.  #g...  true
2  @deray I guess that proves it then. Black folk...  true
3      @the_FF_engineer Does this tweet need a tag?   true
4  @officialUKMail both. Won't be using you again...  true

In [48]:
df = pd.read_csv('c_dataset.csv')
df['text'] = df['text'].str.replace('#', '')
df['label'] = df['label'].str.replace('#', '')
df.to_csv('c_dataset.csv', index=False)

In [49]:
df.head()

                                                text label
0  Not sure if that was or realtalk . I'll take i...  true
1  Barely 9 am and already shaking with rage.  go...  true
2  @deray I guess that proves it then. Black folk...  true
3      @the_FF_engineer Does this tweet need a tag?   true
4  @officialUKMail both. Won't be using you again...  true

In [50]:
df = pd.read_csv('c_dataset.csv')
df['label'] = df['label'].replace({'true': 'sarcastic', 'false': 'not sarcastic'})
df.to_csv('c_dataset.csv', index=False)

In [51]:
df.dtypes

text     object
label    object
dtype: object

In [52]:
df.shape

(816, 2)