In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv('test_v.csv', delimiter='\t')

In [17]:
df.head()

   TrainSen  1 I loovee when people text back ... ðŸ˜’ #sarcastictweet
0  TrainSen  1  Don't you love it when your parents are Pissed...
1  TrainSen  1      So many useless classes , great to be student
2  TrainSen  1  Oh how I love getting home from work at 3am an...
3  TrainSen  1          I just love having grungy ass hair ðŸ˜‘ #not
4  TrainSen  1  Thank you , random guy , for sneaking up behin...

In [18]:
df.tail()

      TrainSen  1 I loovee when people text back ... ðŸ˜’ #sarcastictweet
1969  TrainSen  0  Sometimes truth is glaring you in the face - b...
1970  TrainSen  0    I just love not hanging out with my boyfriend .
1971  TrainSen  0  There is this 1 quince picture I have that I'm...
1972  TrainSen  0  I feel so ill at the moment that I cant speak ...
1973  TrainSen  0         I'm So Erked Nobody Better Not Speak To Me

In [19]:
df.shape

(1974, 3)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974 entries, 0 to 1973
Data columns (total 3 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   TrainSen                                              1974 non-null   object
 1   1                                                     1974 non-null   int64
 2   I loovee when people text back ... ðŸ˜’ #sarcastictweet  1974 non-null   object
dtypes: int64(1), object(2)
memory usage: 46.4+ KB

In [26]:
df.isnull().sum()

TrainSen                                                0
1                                                       0
I loovee when people text back ... ðŸ˜’ #sarcastictweet    0
dtype: int64

In [24]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1969    False
1970    False
1971    False
1972    False
1973    False
Length: 1974, dtype: bool

In [25]:
df.duplicated().sum()

0

In [27]:
for i in df.select_dtypes(include="object").columns:
    print(df[i].value_counts())
    print("***"*10)

TrainSen
TrainSen    1974
Name: count, dtype: int64
******************************
I loovee when people text back ... ðŸ˜’ #sarcastictweet
Don't you love it when your parents are Pissed because you were gonna study after bubble soccer ! #IKnowIDo #not ðŸ˜ƒ ðŸ”«                  1
MilesLong they don't listen ... seriously                                                                                             1
Been in the UK so I'm just catching up with Saturated - can't wait to hear God speak through your sermon !                            1
my ex is gonna start watching fairy tail im so happy i'll be able to speak to him about it                                            1
This lab class boring af                                                                                                              1
                                                                                                                                     ..
I lost AJ Green and Jamaal Charles from the same #FantasyFootball team on Sunday , Maybe my tight end puts up 40 points #yeahright    1
Good thing I have a doctors appointment in the morning . Good thing it's passed 3 am . #not                                           1
Good thing I'm learning about ohms law and electric fields because I'm gonna use that everyday in the health field #not               1
I'm glad the shorthand " perc " ( for percussion ) autocorrects to " perv " in my phone . Every . Single . Time .                     1
I'm So Erked Nobody Better Not Speak To Me                                                                                            1
Name: count, Length: 1974, dtype: int64
******************************

In [41]:
df = pd.read_csv('test_v.csv', header=None, delimiter='\t')

# name the columns
df.columns = ['Train', 'Label', 'Tweets']

print(df.head())

# Save the new dataset
df.to_csv('Clean_set.csv', index=False)

      Train  Label                                             Tweets
0  TrainSen      1  I loovee when people text back ... ðŸ˜’ #sarcasti...
1  TrainSen      1  Don't you love it when your parents are Pissed...
2  TrainSen      1      So many useless classes , great to be student
3  TrainSen      1  Oh how I love getting home from work at 3am an...
4  TrainSen      1          I just love having grungy ass hair ðŸ˜‘ #not

In [37]:
pip install emoji

Requirement already satisfied: emoji in /opt/anaconda3/lib/python3.11/site-packages (2.12.1)
Requirement already satisfied: typing-extensions>=4.7.0 in /opt/anaconda3/lib/python3.11/site-packages (from emoji) (4.9.0)
Note: you may need to restart the kernel to use updated packages.

In [42]:
import emoji

# Function to replace emojis with their text descriptions
def replace_emojis(text):
    return emoji.demojize(text, delimiters=("", ""))

# Load the dataset
df = pd.read_csv('Clean_set.csv')

# Replace emojis with text descriptions in the 'Tweets' column
df['Tweets'] = df['Tweets'].apply(replace_emojis)

df.to_csv('Clean_set.csv', index=False)

print(df.head())

      Train  Label                                             Tweets
0  TrainSen      1  I loovee when people text back ... unamused_fa...
1  TrainSen      1  Don't you love it when your parents are Pissed...
2  TrainSen      1      So many useless classes , great to be student
3  TrainSen      1  Oh how I love getting home from work at 3am an...
4  TrainSen      1  I just love having grungy ass hair expressionl...

In [47]:
if df.shape[1] == 3:
    df.columns = ['Train', 'Label', 'Tweets']
    
    # Drop the 'Train' column
    df = df.drop(columns=['Train'])
  
    df.to_csv('Clean_set.csv', index=False)
else:
    print("Unexpected number of columns in the dataset. Expected 3 columns, but found:", df.shape[1])

Unexpected number of columns in the dataset. Expected 3 columns, but found: 2

In [48]:
df.head()

   Label                                             Tweets
0      1  I loovee when people text back ... unamused_fa...
1      1  Don't you love it when your parents are Pissed...
2      1      So many useless classes , great to be student
3      1  Oh how I love getting home from work at 3am an...
4      1  I just love having grungy ass hair expressionl...

In [49]:
abbreviations = {
    'lol': 'laugh out loud',
    'brb': 'be right back',
    'btw': 'by the way',
    'omg': 'oh my god',
    'tbh': 'to be honest',
    'fyi': 'for your information',
    'idk': 'I don\'t know',
    'imo': 'in my opinion',
    'imho': 'in my humble opinion',
    'np': 'no problem',
    'tmi': 'too much information',
    'smh': 'shake my head',
    'irl': 'in real life',
    'afk': 'away from keyboard',
    'fomo': 'fear of missing out',
    'imo': 'in my opinion',
    'irl': 'in real life',
    'omw': 'on my way',
    'rofl': 'rolling on the floor laughing',
    'afaik': 'as far as I know',
    'gg': 'good game',
    'ggwp': 'good game, well played',
    'icymi': 'in case you missed it',
    'nvm': 'never mind',
    'ttyl': 'talk to you later',
    'ftw': 'for the win',
    'smh': 'shaking my head',
}

def replace_abbreviations(text):
    for word in text.split():
        if word.lower() in abbreviations:
            text = text.replace(word, abbreviations[word.lower()])
    return text

df = pd.read_csv('Clean_set.csv')
df['Tweets'] = df['Tweets'].apply(replace_abbreviations)
df.to_csv('Clean_set.csv', index=False)

In [52]:
import re

def clean_text(text):
    # Remove URLs
    text = re.sub(r'http\S+', '', text)
    # Remove URLs that start with www
    text = re.sub(r'www\S+', '', text) 
    # Remove @mentions
    text = re.sub(r'@\w+', '', text)
    # Remove #hashtags
    text = re.sub(r'#\w+', '', text)
    return text

def process_tweets(input_filepath, output_filepath):
    with open(input_filepath, 'r') as file, open(output_filepath, 'w') as outfile:
        for line in file:
            cleaned_line = clean_text(line)
            outfile.write(cleaned_line)
input_file_path = 'Clean_set.csv'
output_file_path = 'path_to_your_output_file.csv'
process_tweets(input_file_path, output_file_path)

In [53]:
df.head()

      Train  Label                                             Tweets
0  TrainSen      1  I loovee when people text back ... unamused_fa...
1  TrainSen      1  Don't you love it when your parents are Pissed...
2  TrainSen      1      So many useless classes , great to be student
3  TrainSen      1  Oh how I love getting home from work at 3am an...
4  TrainSen      1  I just love having grungy ass hair expressionl...