In [7]:
import nltk
from nltk.tokenize import TweetTokenizer


tokenizer = TweetTokenizer()

# Function to tokenize text using TweetTokenizer
def tokenize_text(Tweets):
    return tokenizer.tokenize(Tweets)

df = pd.read_csv('merged_file.csv')
df['tokens'] = df['Tweet'].apply(tokenize_text)

print(df.head())
df.to_csv('token_dataset.csv', index=False)

                                               Tweet Sarcasm  \
0  Fantastic service yet again from EE. 1st you u...     yes
1  Not sure if that was or. I will take it! face_...     yes
2         Barely 9 am and already shaking with rage.     yes
3  I guess that proves it then. Black folks have ...     yes
4                         Does this tweet need a tag     yes

                                              tokens
0  [Fantastic, service, yet, again, from, EE, ., ...
1  [Not, sure, if, that, was, or, ., I, will, tak...
2  [Barely, 9, am, and, already, shaking, with, r...
3  [I, guess, that, proves, it, then, ., Black, f...
4                  [Does, this, tweet, need, a, tag]

In [8]:
df.head()

,Tweet,Sarcasm,tokens
0,Fantastic service yet again from EE. 1st you u...,yes,"[Fantastic, service, yet, again, from, EE, ., ..."
1,Not sure if that was or. I will take it! face_...,yes,"[Not, sure, if, that, was, or, ., I, will, tak..."
2,Barely 9 am and already shaking with rage.,yes,"[Barely, 9, am, and, already, shaking, with, r..."
3,I guess that proves it then. Black folks have ...,yes,"[I, guess, that, proves, it, then, ., Black, f..."
4,Does this tweet need a tag,yes,"[Does, this, tweet, need, a, tag]"

In [9]:
df.tail()

,Tweet,Sarcasm,tokens
2976,Sometimes truth is glaring you in the face bl...,no,"[Sometimes, truth, is, glaring, you, in, the, ..."
2977,I just love not hanging out with my boyfriend .,no,"[I, just, love, not, hanging, out, with, my, b..."
2978,There is this 1 quince picture I have that I'm...,no,"[There, is, this, 1, quince, picture, I, have,..."
2979,I feel so ill at the moment that I cant speak ...,no,"[I, feel, so, ill, at, the, moment, that, I, c..."
2980,I'm So Erked Nobody Better Not Speak To Me,no,"[I'm, So, Erked, Nobody, Better, Not, Speak, T..."

In [10]:
df.shape

(2981, 3)