In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("C:\\Users\\HP\\OneDrive\\Desktop\\Test_v1.txt", delimiter='\t')

In [28]:
df.head()

   TrainSen  1 I loovee when people text back ... ðŸ˜’ #sarcastictweet
0  TrainSen  1  Don't you love it when your parents are Pissed...
1  TrainSen  1      So many useless classes , great to be student
2  TrainSen  1  Oh how I love getting home from work at 3am an...
3  TrainSen  1          I just love having grungy ass hair ðŸ˜‘ #not
4  TrainSen  1  Thank you , random guy , for sneaking up behin...

In [29]:

df.shape

(1974, 3)

In [30]:
df = pd.read_csv('C:\\Users\\HP\\OneDrive\\Desktop\\Test_v1.txt', header=None, delimiter='\t')

# name the columns
df.columns = ['Train', 'Label', 'Tweets']

print(df.head())

# Save the new dataset
df.to_csv('Clean_Dataset.csv', index=False)

      Train  Label                                             Tweets
0  TrainSen      1  I loovee when people text back ... ðŸ˜’ #sarcasti...
1  TrainSen      1  Don't you love it when your parents are Pissed...
2  TrainSen      1      So many useless classes , great to be student
3  TrainSen      1  Oh how I love getting home from work at 3am an...
4  TrainSen      1          I just love having grungy ass hair ðŸ˜‘ #not

In [31]:
df.shape

(1975, 3)

In [32]:

df = pd.read_csv('C:\\Users\\HP\\OneDrive\\Desktop\\Test_v1.txt', header=None, delimiter='\t')

# Check if the dataset has 3 columns
if df.shape[1] == 3:
    df.columns = ['Train', 'Label', 'Tweets']
    
    # Drop the 'Train' column
    df = df.drop(columns=['Train'])
  
    df.to_csv('Clean_Dataset.csv', index=False)
else:
    print("Unexpected number of columns in the dataset. Expected 3 columns, but found:", df.shape[1])

In [33]:
df.head()

   Label                                             Tweets
0      1  I loovee when people text back ... ðŸ˜’ #sarcasti...
1      1  Don't you love it when your parents are Pissed...
2      1      So many useless classes , great to be student
3      1  Oh how I love getting home from work at 3am an...
4      1          I just love having grungy ass hair ðŸ˜‘ #not

In [34]:
df.shape

(1975, 2)

In [35]:
import emoji

# Function to replace emojis with their text descriptions
def replace_emojis(text):
    return emoji.demojize(text, delimiters=("", ""))

# Load the dataset
df = pd.read_csv('Clean_Dataset.csv')

# Replace emojis with text descriptions in the 'Tweets' column
df['Tweets'] = df['Tweets'].apply(replace_emojis)

df.to_csv('Clean_Dataset.csv', index=False)

print(df.head())

   Label                                             Tweets
0      1  I loovee when people text back ... unamused_fa...
1      1  Don't you love it when your parents are Pissed...
2      1      So many useless classes , great to be student
3      1  Oh how I love getting home from work at 3am an...
4      1  I just love having grungy ass hair expressionl...

In [36]:
df = pd.read_csv('Clean_Dataset.csv')

# Remove '#' with its following text from tweets
df['Tweets'] = df['Tweets'].str.replace(r'#\w+', '', regex=True)

df.to_csv('Clean_Dataset.csv', index=False)

In [37]:
df.head()

   Label                                             Tweets
0      1  I loovee when people text back ... unamused_face
1      1  Don't you love it when your parents are Pissed...
2      1      So many useless classes , great to be student
3      1  Oh how I love getting home from work at 3am an...
4      1  I just love having grungy ass hair expressionl...

In [38]:
import pandas as pd

# Define a dictionary of abbreviations and their expansions
abbreviations = {
    'lol': 'laugh out loud',
    'brb': 'be right back',
    'btw': 'by the way',
    'omg': 'oh my god',
    'tbh': 'to be honest',
    'fyi': 'for your information',
    'idk': 'I don\'t know',
    'imo': 'in my opinion',
    'imho': 'in my humble opinion',
    'np': 'no problem',
    'tmi': 'too much information',
    'smh': 'shake my head',
    'irl': 'in real life',
    'afk': 'away from keyboard',
    'fomo': 'fear of missing out',
    'imo': 'in my opinion',
    'irl': 'in real life',
    'omw': 'on my way',
    'rofl': 'rolling on the floor laughing',
    'afaik': 'as far as I know',
    'gg': 'good game',
    'ggwp': 'good game, well played',
    'icymi': 'in case you missed it',
    'nvm': 'never mind',
    'ttyl': 'talk to you later',
    'ftw': 'for the win',
    'smh': 'shaking my head',
}

# Function to replace abbreviations with their expansions
def replace_abbreviations(text):
    for word in text.split():
        if word.lower() in abbreviations:
            text = text.replace(word, abbreviations[word.lower()])
    return text

df = pd.read_csv('Clean_Dataset.csv')
df['Tweets'] = df['Tweets'].apply(replace_abbreviations)
df.to_csv('Clean_Dataset.csv', index=False)

In [39]:
#Garbage value
for i in df.select_dtypes(include = "object").columns:
    print(df[i].value_counts())
    print("***"*10)

Tweets
I loovee when people text back ... unamused_face                                                                       1
MilesLong they don't listen ... seriously                                                                              1
Been in the UK so I'm just catching up with Saturated - can't wait to hear God speak through your sermon !             1
my ex is gonna start watching fairy tail im so happy i'll be able to speak to him about it                             1
This lab class boring af                                                                                               1
                                                                                                                      ..
I lost AJ Green and Jamaal Charles from the same  team on Sunday , Maybe my tight end puts up 40 points                1
Good thing I have a doctors appointment in the morning . Good thing it's passed 3 am .                                 1
Good thing I'm learning about ohms law and electric fields because I'm gonna use that everyday in the health field     1
I'm glad the shorthand " perc " ( for percussion ) autocorrects to " perv " in my phone . Every . Single . Time .      1
I'm So Erked Nobody Better Not Speak To Me                                                                             1
Name: count, Length: 1975, dtype: int64
******************************

In [40]:
#To find duplicates
df.duplicated().sum()

0

In [41]:
df.isnull().sum()

Label     0
Tweets    0
dtype: int64

In [42]:
df = pd.read_csv('Clean_Dataset.csv')
df['Tweets'] = df['Tweets'].str.replace('#', '')
df['Tweets'] = df['Tweets'].str.replace('"', '')
df['Tweets'] = df['Tweets'].str.replace(':', '')
df['Tweets'] = df['Tweets'].str.replace(':', '')
df['Tweets'] = df['Tweets'].str.replace('?', '')
df['Tweets'] = df['Tweets'].str.replace('*', '')
df['Tweets'] = df['Tweets'].str.replace('<', '')
df['Tweets'] = df['Tweets'].str.replace('...', '')
df['Tweets'] = df['Tweets'].str.replace('/', '')
df['Tweets'] = df['Tweets'].str.replace('@', '')
df['Tweets'] = df['Tweets'].str.replace('~', '')
df['Tweets'] = df['Tweets'].str.replace('!', '')
df['Tweets'] = df['Tweets'].str.replace('>', '')
df['Tweets'] = df['Tweets'].str.replace('-', '')
df['Tweets'] = df['Tweets'].str.replace(')', '')
df['Tweets'] = df['Tweets'].str.replace('(', '')
df['Tweets'] = df['Tweets'].str.replace('3', '')
df.to_csv('Clean_Dataset.csv', index=False)

In [43]:
df.dtypes

Label      int64
Tweets    object
dtype: object

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1975 entries, 0 to 1974
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   1975 non-null   int64
 1   Tweets  1975 non-null   object
dtypes: int64(1), object(1)
memory usage: 31.0+ KB

In [45]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Clean_Dataset.csv')

# Replace 1 with 'sarcastic' and 0 with 'not sarcastic' in the 'Label' column
df['Label'] = df['Label'].replace({1: 'sarcastic', 0: 'not sarcastic'})

# Save the updated DataFrame back to the CSV file
df.to_csv('Clean_Dataset.csv', index=False)

In [46]:
df.dtypes

Label     object
Tweets    object
dtype: object

In [47]:
# Load the dataset
df = pd.read_csv('Clean_Dataset.csv')

# Remove URLs from the 'Tweets' column
df['Tweets'] = df['Tweets'].str.replace(r'https?://\S+|www\.\S+', '', regex=True)

df.to_csv('C:\\Users\\HP\\OneDrive\\Desktop\\Clean_Dataset.csv', index=False)

In [48]:
df.head()

       Label                                             Tweets
0  sarcastic     I loovee when people text back  unamused_face
1  sarcastic  Don't you love it when your parents are Pissed...
2  sarcastic      So many useless classes , great to be student
3  sarcastic  Oh how I love getting home from work at am and...
4  sarcastic  I just love having grungy ass hair expressionl...

In [49]:
df.shape

(1975, 2)