In [9]:
import pandas as pd

In [11]:
# Load the dataset
df = pd.read_csv('fd2.csv')


df['Label'] = df['Label'].replace({'sarcastic': 'yes', 'not sarcastic': 'no'})


df.to_csv('Clean_Dataset.csv', index=False)

In [12]:
df.head()

  Label                                              Tweet
0   yes     I loovee when people text back  unamused_face
1   yes  Don't you love it when your parents are Pissed...
2   yes      So many useless classes , great to be student
3   yes  Oh how I love getting home from work at am and...
4   yes  I just love having grungy ass hair expressionl...

In [13]:
df.rename(columns={'Label': 'Sarcasm'}, inplace=True)

In [14]:
df.head()

  Sarcasm                                              Tweet
0     yes     I loovee when people text back  unamused_face
1     yes  Don't you love it when your parents are Pissed...
2     yes      So many useless classes , great to be student
3     yes  Oh how I love getting home from work at am and...
4     yes  I just love having grungy ass hair expressionl...

In [15]:
df.tail()

     Sarcasm                                              Tweet
1970      no  Sometimes truth is glaring you in the face  bl...
1971      no    I just love not hanging out with my boyfriend .
1972      no  There is this 1 quince picture I have that I'm...
1973      no  I feel so ill at the moment that I cant speak ...
1974      no         I'm So Erked Nobody Better Not Speak To Me

In [16]:
df.to_csv('Clean_Dataset.csv', index=False)

In [17]:
df.head()

  Sarcasm                                              Tweet
0     yes     I loovee when people text back  unamused_face
1     yes  Don't you love it when your parents are Pissed...
2     yes      So many useless classes , great to be student
3     yes  Oh how I love getting home from work at am and...
4     yes  I just love having grungy ass hair expressionl...